@font-face {
  font-family: 'lalezar';
  src: url(../1/fonts/Lalezar-Regular.ttf);
}
.buycart{
	margin-top:15px;
}
.contact-us{
	margin:2px;
}
.contact-us h2{
  color: #01582D;
  font-family: 'lalezar';
}
.contact-us h3{
  color: #01582D;
  font-family: 'lalezar';
}
.contact-us .address{
	background-color:rgb(248,248,248);
	border-radius:15px;
}
.contact-us .contact-info .contact-form input , .contact-us .contact-info .contact-form textarea{
  color: #6A6A6A;
  border: 2px solid #F6B618;
  background-color: transparent;
}
.contact-us .contact-form div{
  width: 80%;
  margin: auto;
}
@media(max-width:768px){
    .contact-us .contact-info{
      margin-top: 30px;
    }
  }
  @media(min-width:769px){
    .contact-us .contact-info{
      margin: auto;
    }
  }
  @media(max-width:768px) {
    .contact-info .submitCancel .submit button , .contact-info .submitCancel .cancel button{
      display: none;
    }
  }
  @media(min-width:769px) {
    .contact-info .submitCancelMob{
      display: none;
    }
  }
@media(min-width:768px) and (max-width:1200px){
	header .logged-in .account span{
		display:none;
	}
	
	