body{
    background-color: #FCF2EF;
}
.order-method{
    background-color: #F8F8F8;
    border: 2px solid transparent;
    border-radius: 15px;
    height: fit-content;
}
.bill{
    background-color: #F8F8F8;
    border: 2px solid transparent;
    border-radius: 15px;
    height: fit-content;
}
.payment-method-radio{
	background-color: #F8F8F8;
	border-radius: 15px; 
	padding: 15px 5px;
	height: 150px;
}
.discount-box{
	background-color: #F8F8F8; 
	border-radius: 15px; 
	padding: 15px 5px; 
	height: 150px;
}
.discount-box input{
	outline:none;
	border:2px solid #F5B412;
	border-radius: 5px;
    padding: 4px;
	margin-left:5px;
}
label{
	font-size:14px
}
@media(max-width:372px){
	.discount-box button{
		margin-top:7px;
	}
}