
.dropdown {
     /* margin: 45px auto; */
     text-align: center;
 }

 .dropdown ul ul {
     display: none;
 }

 .dropdown ul li:hover>ul {
     display: block;
 }

 .dropdown ul {
     box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
     padding: 0 20px;
     list-style: none;
     display: inline-table;
     z-index: 99;
     background-color: transparent;
     font-size: 16px;
     border: 2px solid #AD8353;
     border-radius: 20px;
     width: 315px;
     margin-top: 2px;
 }

 .bi-chevron-down {
     position: absolute;
     left: -95px;
     top: 10px;
     color: #AD8353;
     font-size: 18px;
     background-color: #E6D5BD;
     padding: 6px 7px 0 7px;
     border-radius: 50%;
 }

 .dropdown ul:after {
     /* content: "";
	clear: both;
	display: block; */
 }

 .dropdown ul li {
     float: right;
     position: relative;
     font-weight: bold;
 }

 .dropdown ul li:hover {
     /* background: #a70101; */
 }

 .dropdown ul li:hover a {}

 .dropdown ul li a {
     display: block;
     padding: 15px 32px;
     color: #4e4e4e;
     text-decoration: none;
 }

 .dropdown ul ul {
     background: #F8EFDE;
     border: 2px solid #AD8353;
     color: #252525;
     border-radius: 15px;
     padding: 0;
     position: absolute;
     top: 100%;
     right: 0;
     width: 275px;
     border-top: 2px solid #AD8353;
 }

 /* .drowdown ul ul :first-child{
    border-top: 2px solid #AD8353;
}.dropdown ul ul :last-child{
    border-bottom: 2px solid #AD8353;
} */
 .dropdown ul ul li {
     float: none;
     position: relative;
 }

 .dropdown ul ul li a {
     padding: 15px 40px;
     color: #252525;
 }

 .dropdown ul ul li a:hover {
     color: #787878;
 }

 .dropdown ul ul ul {
     position: absolute;
     right: 100%;
     top: 0;
     opacity: 99;
     width: 200px;
 }




 /* category select box */

 nav {
     position: relative;
     top: 20%;
     left: 35%;
     transform: translate(-50%, -50%);
     background-color: #F8EFDE;
     width: 320px;
     line-height: 30px;
     padding: 8px 25px;
     border-radius: 40px;
     border: 2px solid #AD8353;
     z-index: 99;
     margin-top: 6px;
     transition: all ease 0.7s;

 }

 nav label {
     color: #252525;
     font-size: 18px;
     font-weight: 500;
     display: block;
     cursor: pointer;
     padding-top: 5px;
 }

 nav .button i {
     background-color: #E6D5BD;
     color: #AD8353;
     border-radius: 50%;
     padding: 6px 8px 0px 8px;
     position: relative;
     right: 100px;
     top: 1px;
 }

 .button span {
     float: right;
     line-height: 35px;
 }

 nav ul {
     position: absolute;
     line-height: 35px;
     list-style: none;
     top: 70px;
     left: 0;
     width: 100%;
     border-radius: 5px;
     display: block;
     background-color: #F8EFDE;
     display: none;
 }

 nav .menu {
     border: 2px solid #AD8353;
     border-radius: 40px;
     margin-top: 8px;

 }

 [id^=btn]:checked+ul {
     display: block;
 }

 nav .menu::before {
     position: absolute;
     content: '';
     height: 20px;
     width: 20px;
     background: #AD8353;
     right: 36+px;
     top: -10px;
     transform: rotate(45deg);
     z-index: -1;
 }

 nav ul li {
     line-height: 40px;
     padding: 8px 17px;
     cursor: pointer;
     /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
 }

 nav ul li a {
     color: #222;
     text-decoration: none;
     font-size: 18px;
     display: block;
 }

 nav ul li a:hover,
 nav ul li label:hover {
     color: rgb(110, 110, 110);
 }

 nav ul ul {
     position: static;
 }

 nav ul ul li {
     line-height: 30px;
     padding-left: 30px;
     border-bottom: none;
 }

 nav .menu .categories-item .items a {
     color: #222;
     font-size: 14px;
 }

 nav ul li i {
     font-size: 20px;
     float: right;
     margin-top: 10px;
     padding: 0 7px;
 }

 /* input[type=radio] {
     display: none;
 } */

 nav input#btn {
     display: none;
 }



 nav .menu .first,
 nav .menu .second,
 nav .menu .third,
 nav .menu .fourth,
 nav .menu .fifth,
 nav .menu .fifth {
     position: relative;
 }

 nav .sub-menu {
     font-size: 20px;
     color: #AD8353;
     background-color: #E6D5BD;
     border-radius: 50%;
     height: 35px;
     width: 35px;
     position: absolute;
     left: -25px;
     top: -5px;
     padding: 2px 7px 0 5px;
 }

 .buycart .contact-us .warm-drinks {
     background-color: #F8EFDE;
     border-radius: 15px;
     margin: auto;
 }

 nav .menu .warm-drinks-title {
     display: flex;
     align-items: center;
 }

 nav .menu .warm-drinks-title img {
     background-color: #FFFBAC;
     padding: 5px;
     border: 2px solid #FFFBAC;
     border-radius: 50%;
     margin: auto 15px auto 30px;
 }

 nav .menu .close-btn {
     font-size: 21px;
     position: relative;
     right: 15px;
     top: 1px;
 }

 nav .menu .close .close-link {
     text-decoration: none;
     margin-right: 12px;
     font-size: 18px;
     color: #222;
 }

 nav .menu .categories-item .first,
 nav .menu .categories-item .second,
 nav .menu .categories-item .third,
 nav .menu .categories-item .fourth,
 nav .menu .categories-item .fifth,
 nav .menu .categories-item .sixth {
     font-size: 14px;
     padding-inline: 49px;
     padding-bottom: 5px;
 }

 nav .menu .categories-item img {
     position: absolute;
     right: 0;
     padding: 3px;
     border-radius: 50%;
 }

 nav .menu .categories-item .first img {
     background-color: #FFFBAC;
 }

 nav .menu .categories-item .second img {
     background-color: #FFB9B9;
 }

 nav .menu .categories-item .third img {
     background-color: #FFDDD2;
 }

 nav .menu .categories-item .fourth img {
     background-color: #B7CADB;
 }

 nav .menu .categories-item .fifth img {
     background-color: #FAAB78;
 }

 nav .menu label {
     font-size: 14px;
 }

 nav .menu .categories-item {
     margin-top: 10px;
 }

 nav .menu .check-box {
     position: absolute;
     right: -24px;
     top: 17px;
 }

 .products-list .products-list-box {
     margin-top: 70px;
 }

 .products-list .products-list-box .products-list-container {
     /* width: 100%;
     margin: auto;
     padding-top: 120px;
     margin-top: 70px; */
 }

.products-list .warm-drinks-section .cards .card .card-img-top{
	    border-top-right-radius: 5%;
    	border-top-left-radius: 5%;
}

 .products-list .products-list-box .products-list-container .line {
     border: 4px solid red;
	 border-radius: 15px;
     width: 50%;
     margin: auto;
 }

 .products-list .products-list-box .products-list-title h2 {
     color: #01582D;
    
     font-size: 38px;
     font-family: lalezar;
 }
 .products-list .warm-drinks-section{
    background-color: #F8EFDE;
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
 }
 .products-list .warm-drinks-section .warm-drinks-title img{
    background-color: #FFFBAC;
    border-radius: 50%;
    padding: 10px;
 }

 .products-list .warm-drinks-section span{
    font-size: 21px;
 }
.products-list .warm-drinks-section .cards .card .card-body .add-to-cart-btn-products-list{
	position:relative;
	left:-21px;
}
.products-list .warm-drinks-section .cards .card {
	width: 20rem;
	margin: auto;
	height: 93%;
	border-radius: 4%;
}

@media(max-width:361px){
	.products-list .warm-drinks-section .cards .card {
		width:14rem;
	}
	.products-list .warm-drinks-section .cards .card .heart-icon{
	left: -94px;
    top: 4px;
	}
}
@media(max-width:361px){
	.products-list .warm-drinks-section .cards .card .card-body .add-to-cart-btn-products-list{
		position: relative;
    	left: -23px;
    	top: -28px;
	}
}
@media(min-width:361px) and (max-width:769px){
	.products-list .warm-drinks-section .cards .card .card-body .add-to-cart-btn-products-list{
	position:relative;
	left:-21px;
	top:-33px;
}
}
.products-list .warm-drinks-section .cards .card .card-body .add-to-cart-btn-products-list .btn-brown{
	white-space:nowrap;
}
.products-list .warm-drinks-section .cards .card .card-body span{
	margin-right:4px
}
@media(min-width:992px) and (max-width:1200px){
	.products-list .warm-drinks-section .category-select{
		display:flex;
    	justify-content:center;
 }
}
@media(min-width:1200px){
	.products-list .warm-drinks-section .category-select{
		display:flex;
    	justify-content:end;
 }
}
@media(min-width:550px) and (max-width:991px){
	.products-list .warm-drinks-section .category-select{
		display:flex;
    	justify-content:end;
 }
}
@media(max-width:380px){
	.products-list .warm-drinks-section .category-select nav{
		width:250px;
		position: relative;
		top: 20%;
		left: 45%;
	}
	.products-list .warm-drinks-section .category-select nav .button i {
    position: relative;
    right: 46px;
	}
}
@media(min-width:380px) and (max-width:550px){
		.products-list .warm-drinks-section .category-select nav{
		width:300px;
		position:relative;
		left:45%;
	}
	.products-list .warm-drinks-section .category-select nav .button i{
		position:relative;
		right:89px;
	}
}
@media(max-width:380px){
	nav .menu .categories-item .first, nav .menu .categories-item .second, nav .menu .categories-item .third, nav .menu .categories-item .fourth, nav .menu .categories-item .fifth, nav .menu .categories-item .sixth{
		font-size:11px;
		padding-inline:36px;
	}
	nav .menu .categories-item img {
		position: absolute;
		right: -8px;
	}
	
}
@media(max-width:550px){
	.products-list .warm-drinks-section .category-select{
		display:flex;
    	justify-content:center;
 }
	nav ul li{
		padding:8px;
	}
}
 @media(max-width:768px) {
     .contact-us .categories .dropbtn {
         width: 245px;
     }

 }
@media(max-width:1200px){
	.products-list .products-list-box .products-list-container{
		display:none;	
	}
	.products-list .ps-title-mob{
		display:block;
	}
}
@media(min-width:768px) and (max-width:768px){
	.products-list .heart-icon{
		position: relative;
   	 	left: -25px;
		top:-1px;
	}
	.add-to-cart-btn-products-list button{
		position: absolute;
    	top: 27px;
	}
}